<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Code</key>
		<string>AUD</string>
		<key>Name</key>
		<string>Australian Dollar</string>
		<key>Symbol</key>
		<string>AU$</string>
		<key>ImageName</key>
		<string>australia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ALL</string>
		<key>Name</key>
		<string>Albanian Lek</string>
		<key>ImageName</key>
		<string>albania</string>
		<key>Symbol</key>
		<string>L</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>DZD</string>
		<key>Name</key>
		<string>Algerian Dinar</string>
		<key>ImageName</key>
		<string>algeria</string>
		<key>Symbol</key>
		<string>دج </string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ARS</string>
		<key>Name</key>
		<string>Argentine Peso</string>
		<key>ImageName</key>
		<string>argentina</string>
		<key>Symbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>AFN</string>
		<key>Name</key>
		<string>Afghan afghani</string>
		<key>ImageName</key>
		<string>afghanistan</string>
		<key>Symbol</key>
		<string>؋</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>AOA</string>
		<key>Name</key>
		<string>Angolan kwanza</string>
		<key>ImageName</key>
		<string>angola</string>
		<key>Symbol</key>
		<string>Kz</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>AMD</string>
		<key>Name</key>
		<string>Armenian dram</string>
		<key>ImageName</key>
		<string>armenia</string>
		<key>Symbol</key>
		<string>֏</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>AZN</string>
		<key>Name</key>
		<string>Azerbaijani manat</string>
		<key>ImageName</key>
		<string>azerbaijan</string>
		<key>Symbol</key>
		<string>₼</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>GBP</string>
		<key>Name</key>
		<string>British Pound</string>
		<key>ImageName</key>
		<string>england</string>
		<key>Symbol</key>
		<string>£</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>BSD</string>
		<key>Name</key>
		<string>Bahamian Dollar</string>
		<key>ImageName</key>
		<string>bahamas</string>
		<key>Symbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>BHD</string>
		<key>Name</key>
		<string>Bahraini Dinar</string>
		<key>ImageName</key>
		<string>bahrain</string>
		<key>Symbol</key>
		<string>.د.ب</string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
	<dict>
		<key>Code</key>
		<string></string>
		<key>Name</key>
		<string></string>
		<key>ImageName</key>
		<string></string>
		<key>Symbol</key>
		<string></string>
	</dict>
</array>
</plist>
